a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .footer {
      margin-top: 0px;
      text-align: center;
    padding: 40px 0;
    background: rgb(34, 33, 33); 
    color: #777; }

    .footer h4 {
        color: #fff;
        font-size: 16px;
        margin-bottom: 20px; 
        margin-left: 50px;
    
    }

    .footer .links li {
      margin-bottom: 10px; 
      margin-left: 50px;
    }
      .footer .links li a {
        color: #999; }
        .footer .links li a:hover {
          color: #fff; 
    }
    
   h2{
       text-align: center;
       text-decoration: solid;
   }
   
    
